@charset "utf-8";
@import url('common.css');

header{width:100%;
        position: absolute;
        left:0; top:0;
    }
header article{width:80%; margin:0 auto;
                text-align:center;
                

               }          
.pot a{margin-top:90px;         
}
.pot a img{}
.pot{display:flex;
    justify-content: space-between;
    }
.pot ul{}
.pot ul li{display:inline-block;
            margin-top:127px;
            padding:0 50px;
            vertical-align: top;
            position:relative;
            
            }
.pot ul li:hover div{
    display:block;
    
    
}
.pot ul li a{color:white; font-size: 20px;
            transition: .5s;}

.pot ul li div{position:absolute;
                white-space: pre-line;
                background-color:black;
                padding:10px 10px;
                line-height:1.3;
                display:none;
                transform:translateX(-50%);
                left:50%;
                width:130%;
                line-height:2em;
                display:none;
                
                
}
.pot ul li div.active{display:block;
                   }


.pot ul li div a{color:white;
                }

.menu-trigger {
	width: 50px;
    transform:scale(.4);
    /* rotate(90deg) translate(50%,50%) */
    position:absolute;
    right:0; top:0;
    margin:110px 30px;
    
}
.menu-trigger,
.menu-trigger span {
	display: inline-block;
    box-sizing: border-box;
    
}

.menu-trigger span {
	width: 100%;
	height: 4px;
	background-color: #fff;
    border-radius: 4px;
    height:8px;
}

.menu-trigger span:nth-of-type(1) {
	top: 0;
}

.menu-trigger span:nth-of-type(2) {
	top: 20px;
}

.menu-trigger span:nth-of-type(3) {
    bottom: 0;
}
.menu-trigger span.active{
    width: 100%;
	height: 4px;
	background-color: #fff;
    border-radius: 4px;
    height:8px;
}

.menu-trigger span.active:nth-of-type(1) {
	transform:rotate(90deg) translate(18px, 22px)

}

.menu-trigger span.active:nth-of-type(2) {
	transform:rotate(90deg)
}

.menu-trigger span.active:nth-of-type(3) {
    transform: rotate(90deg) translate(-18px, -23px)
}
main{width:100%;
    }
.spot{margin:0 auto;
    }
.spot figure{}
.spot img{}
.spot div{position:absolute;
        left:50%; top:50%;
        transform:translate(-50%, -200%);
         
}
.spot figure div img{
    animation:ani 2s forwards;
}
@keyframes ani{
    0%{width:100px;}
    100%{}
}

.spot div img{
    
}
.group{ position:absolute;
        
        transform:translate(25%, -25%);

        width:100%;}
.group form {width:1000px;
    padding:30px;
    background-color:#fff;
    display:flex;
    align-items: flex-end;
    
}
.group form div{margin:0 15px;
        width:100%  ;}
.group form div select{
    width:100%;
    margin-top:13px;
    padding-top:10px;
}
.group form div button{
    width:100%;
    background:blue;
    color:white;
    height:30px;
}
.group form div input{width:100%; height:30px;
                margin-top:13px;

                }
.group form div label{}


.main{display:flex;
      justify-content: space-evenly;
      align-items: center;
      margin:0 auto;
      padding:150px 0;
      background-color:#eeeeee;
    
}
        
.main img{
        width:577px; height:387px;
       transition:.5s;
}

.main article{}
.main article h1{
        font-size:48px;
        font-weight:normal;
    }
.main article p{white-space: pre-line;
        font-size:20px;}

.blue{margin-top:119px;
        text-align: center;}
.blue h1{font-size:48px;
            font-weight:normal;
          }
.blue p{}
.red{width:80%;  margin:0 auto;
    display:flex;
    justify-content: space-evenly;
    margin-top:50px;}
.red .dont{
    display: none;
    align-items: center;

    }
.red .dont button{background-color:#434343;
    height:58px;
    width:58px;
    display:inline-block;
    border-radius: 100%;
    margin:0 30px;
    transition: .5s;
    outline-style: none;
    border-style: none;}
.red .dont button:hover{
    background-color:orange;
}
.red .dont button img{width:13px;
                    margin:15px;}
.red figure{width:32%; flex:0 0 auto;
            margin-right:2%;
            transition: .5s;}
.red figure img{width:100%; height:385px;
                vertical-align: top;
                transition: .5s;
                }

.overflow{
    overflow:hidden;
    display:flex;
    width:100%;
    transition:.5s;

}
.red > div{
    width:80%;
}
.red figure div{
    display:flex;
    justify-content: space-between;
    background-color:#eeeeee;
    font-size:20px;
    text-transform: uppercase;
}
.red figure div figcaption{
    margin:20px 10px;
}
.red figure div p{
    margin:20px 10px;
}
.fac{width:80%; margin:0 auto;
    text-align: center;}
.fac h1{font-size:48px;
        font-weight:normal;
        margin-top:164px;}
.fac p{font-size:24px;
        margin-bottom:53px;
        }
.yellow{display:flex;
        justify-content: space-between;
        width:100%;
        }
        
.yellow figure{position:relative;
                width:25%;
               
   }
.yellow figure img{
                    
                }
.yellow figure figcaption{position:absolute;
                            left:0; bottom:0;
                        color:white;
                        background-color:rgba(0,0,0,0.6);
                        height:100%; width:100%;
                        display:flex;
                        align-items: center;
                        justify-content: center;
                        transition: .5s;
                        
                        }
.yellow figure:nth-of-type(1) figcaption{
    height:100%;
    
}
/* .yellow figure:nth-of-type(1) figcaption:hover{
height:10%} */
.yellow figure:nth-of-type(2) figcaption{
    height:100%;
    
}
/* .yellow figure:nth-of-type(2) figcaption:hover{
height:10%} */
.yellow figure:nth-of-type(3) figcaption{
    height:100%;
    
}
/* .yellow figure:nth-of-type(3) figcaption:hover{
height:10%} */
.yellow figure:nth-of-type(4) figcaption{
    height:100%;
    
}
/* .yellow figure:nth-of-type(4) figcaption:hover{
height:10%} */
footer{ height:282px;
     margin:0 auto;
        }
footer div{display:flex;
            justify-content: space-between;
            align-items: center;
            padding:0 200px;
            background-color:#c5c5c5;
            }
footer div img{width:150px; height:110px;}
footer div p{font-size:23.5px;}
footer div span{white-space: pre-line;
                line-height: 1.5em;
                margin:93px 0;
                
}
footer div a{}
footer div a img{width:30px; height:31px;}

@media(max-width:480px){
    
}