@charset "utf-8";
@import url('common.css');

header{padding:40px 0;}
header article{width:1200px;
				display:flex;
				justify-content: space-between;
				margin:0 auto;}
header article h1{}
header article nav{}
header article nav a{
	margin:0 20px;
}

.spot{height:750px;
		background:0 0 / cover url('../imgs/img_spot.jpg') no-repeat;}
.spot article{width:900px; margin:0 auto;
				background:#fff;
			padding:60px;
			position:relative;
			transform:translate(0, 20%);
			box-shadow: 0 0 30px rgba(0,0,0,0.4);}
			/* x y blur color */
.spot article h2{}

.spot article figure{margin:100px 0 40px 0;}
.spot article figure img{}
.spot article figure figcaption{
	margin-top:40px;
	font-size:20px;
	text-transform: uppercase;
}
.spot article figure figcaption a{
	margin-top:20px;
	display:block;
	font-family:'lora', serif;
}
.spot article figure figcaption a mark{
	background:#fed38e;}

/* sns */
.spot article span{position:absolute;
					right:60px; top:60px;}
.spot article span a{
	width:20px; height:18px;
	background:url('../imgs/ic_sns.png') no-repeat;
	display:inline-block;
	
}
.spot article span a:nth-of-type(1){
	background-position-x:4px;
	
}
.spot article span a:nth-of-type(2){
	background-position-x:-31px;

}
.spot article span a:nth-of-type(3){
	background-position-x:-68px;
}

.spot article span a:hover{
	background-position-y:-18px;
}

footer{text-align:center; padding:40px;
		margin:200px 0 50px 0;
		}
/* menu-trigger */

.menu-trigger {
	margin-right: 70px;
    margin-bottom: 50px;
    position: relative;
	width: 50px;
    height: 44px;
    transform:scale(.5);
    /* rotate(90deg) translate(50%,50%) */


}
.menu-trigger,
.menu-trigger span {
	display: inline-block;
	transition: all .4s;
	box-sizing: border-box;
}


.menu-trigger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #000;
	border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
	top: 0;
}

.menu-trigger span:nth-of-type(2) {
	top: 20px;
}

.menu-trigger span:nth-of-type(3) {
	bottom: 0;
}
/* hover */
.menu-trigger:hover span:nth-of-type(1) {
	-webkit-transform : translateY(20px) rotate(-315deg);
	transform : translateY(20px) rotate(-315deg);
}
.menu-trigger:hover span:nth-of-type(2) {
	opacity : 0;
}
.menu-trigger:hover span:nth-of-type(3) {
	-webkit-transform : translateY(-20px) rotate(315deg);
	transform : translateY(-20px) rotate(315deg);
}
