@charset "utf-8";
@import url('common.css');

header{width:100%;
    position: absolute;
    left:0; top:0;
    background-color:#9fbcdd;
    z-index:1;
}
header article{width:80%; margin:0 auto;
            text-align:center;
            

           }          
           .pot a{margin-top:90px;         
           }
           .pot a img{margin-bottom:50px;}
           .pot{display:flex;
           justify-content: space-between;
           }
           .pot ul{}
           .pot ul li{display:inline-block;
                   margin-top:127px;
                   padding:0 50px;
                   vertical-align: top;
                   position:relative;
           }
           .pot ul li a{color:white; font-size: 20px;
                           }
           .pot ul li div{position:absolute;
                   white-space: pre-line;
                   background-color:azure;
                   padding:10px 10px;
                   line-height:1.3;
                   display:none;
                   transform:translateX(-50%);
                   left:50%;
                   width:130%;
                   line-height:2em;
                   display:none;
                   
                       
           }
           .pot ul li:hover div{
                   display:block;
           }
           .pot ul li div a{color:lightcoral;
                           font-weight:bold;
                       }
           

.menu-trigger {
width: 50px;
transform:scale(.4);
/* rotate(90deg) translate(50%,50%) */
position:absolute;
right:0; top:0;
margin:110px 30px;

}
.menu-trigger,
.menu-trigger span {
display: inline-block;
box-sizing: border-box;
}

.menu-trigger span {
width: 100%;
height: 4px;
background-color: #fff;
border-radius: 4px;
height:8px;
}

.menu-trigger span:nth-of-type(1) {
top: 0;
}

.menu-trigger span:nth-of-type(2) {
top: 20px;
}

.menu-trigger span:nth-of-type(3) {
bottom: 0;
}

.first{ width:100%;
        padding-top:351px;
        position:absolute;
        display:flex;
        justify-content: space-around;
        }
.first a{}
.first img{width:36px;
                }
.first h1{
        color:#ad5555;
        text-align: center;
        font-weight: normal;
        }
.first h1 small{
        color:black;

}        
.first span{
        margin-left:50px;
}
.app{
        width:70%;
        margin:0 auto;
        padding-top:472px;
        display:flex;
        justify-content: center;
        }
.app img{width:1131px;
       }
.app a{display: none;
      
        
}
.app a span{position:absolute;
        width:60px; height:60px;
        background-color: #efebe8;}
.app a span:nth-of-type(1){ top:70%; right:76.6%;}
.app a span:nth-of-type(2){right:20.3%; top:70%;}
.app a img{
        width:20px;
        margin:14px 0 0 19px;
}
.body{width:70%;
        margin:0 auto;
        display:flex;
        justify-content: center;
        padding:103px 0;}
.body img{width:503px;}
.body article{margin-left:80px;
                }
.body article h1{}
.body article p{white-space: pre-line;}
.body article a{display:inline-block;
        width:336px; height:79px;
        background-color: #fff100;
        border-radius: 30px;
        margin-top:49px;}
        
.body article a span{display:flex;
                        justify-content: center;
                        margin:22px 0;
                        font-size:25px;
                        }

.bottom{width:70%;
        margin:0 auto;
        display:flex;
        justify-content: center;}
.bottom article{display:flex;
                justify-content: center;
                width:1173px;
                flex-wrap:wrap;}
.bottom article h2{font-size:25px;
                font-weight:normal;
                margin-bottom:30px;
                
               }
.bottom article h2 a{display:inline-block;
        width:35px; height:35px; border:1px solid black;
        border-radius: 100%;
        vertical-align: top;
}
.bottom article h2 a:nth-of-type(1){
        margin-right:40px;
}
.bottom article h2 a:nth-of-type(2){
        margin-left:40px;
}
.bottom article h2 a img{width:16px;
                        margin:5px 0 0 9px;}

.bottom img{margin-bottom:137px;}


footer{ height:282px;
     margin:0 auto;
   
        }
footer div{display:flex;
            justify-content: space-between;
            align-items: center;
            padding:0 200px;
            background-color:#c5c5c5;
            }
footer div img{width:150px; height:110px;}
footer div p{font-size:23.5px;}
footer div span{white-space: pre-line;
                line-height: 1.5em;
                margin:93px 0;
                
}
footer div a{}
footer div a img{width:30px; height:31px;}
@media(min-width: 768px) and (max-width:1024px){
        body{width:100%;}
        header > article{height:280px;}
        .pot ul{display:flex;}
        .pot ul li{padding:0 22px 0 0;}
        .pot a{margin-top:80px;}
        .app{width:100%;}
        .app img{width:inherit;}
        .body{width:90%;}
        footer div{padding:0;}
        footer div > img{margin-left:20px;}
        footer div span{width:50%;}
        footer div nav{margin-right:20px;}
}