@charset "utf-8";
@import url('common.css');

header{width:100%;
        position: absolute;
        left:0; top:0;
    }
header article{width:80%; margin:0 auto;
                text-align:center;
                

               }          
.pot a{margin-top:90px;         
}
.pot a img{}
.pot{display:flex;
    justify-content: space-between;
    }
.pot ul{}
.pot ul li{display:inline-block;
            margin-top:127px;
            padding:0 50px;
            vertical-align: top;}
.pot ul li a{color:white; font-size: 20px;}
.pot ul li div{white-space: pre-line;
                background-color:black;
                padding:10px 10px;
                line-height:1.3;
                display:none;
                
}
.pot ul li div a{color:white;
                }


.menu-trigger {
	width: 50px;
    transform:scale(.4);
    /* rotate(90deg) translate(50%,50%) */
    position:absolute;
    right:0; top:0;
    margin:110px 30px;
    
}
.menu-trigger,
.menu-trigger span {
	display: inline-block;
    box-sizing: border-box;
    display:none;
}

.menu-trigger span {
	width: 100%;
	height: 4px;
	background-color: #fff;
    border-radius: 4px;
    height:8px;
}

.menu-trigger span:nth-of-type(1) {
	top: 0;
}

.menu-trigger span:nth-of-type(2) {
	top: 20px;
}

.menu-trigger span:nth-of-type(3) {
    bottom: 0;
}
main{width:100%;
    }
.spot{margin:0 auto;
    }
.spot figure{}
.spot img{}
.spot div{position:absolute;
        left:50%; top:50%;
        transform:translate(-50%, -200%);
         
}
.spot div img{
    
}
.group{ position:absolute;
        
        transform:translate(25%, -25%);

        width:100%;}
.group form {width:1000px;
    padding:30px;
    background-color:#fff;
    display:flex;
    align-items: flex-end;
    
}
.group form div{margin:0 15px;
        width:100%  ;}
.group form div input{width:100%; height:30px;
                margin-top:13px;

                }
.group form div label{}


.main{display:flex;
      justify-content: space-evenly;
      align-items: center;
      margin:0 auto;
      padding:150px 0;
      background-color:#eeeeee;
    
}
        
.main img{
        width:577px; height:387px;
     
}
.main article{}
.main article h1{
        font-size:48px;
        font-weight:normal;
    }
.main article p{white-space: pre-line;
        font-size:20px;}

.blue{margin-top:119px;
        text-align: center;}
.blue h1{font-size:48px;
            font-weight:normal;
          }
.blue p{}
.red{width:80%;  margin:0 auto;
    display:flex;
    justify-content: space-evenly;
    margin-top:50px;}
.red figure{margin:0 10px;}
.red figure img{width:475px; height:385px;
                vertical-align: top;
                }
.red figure div{
    display:flex;
    justify-content: space-between;
    background-color:#eeeeee;
    font-size:20px;
    text-transform: uppercase;
}
.red figure div figcaption{
    margin:33px 44px;
}
.red figure div p{
    margin:33px 44px;
}
.red a{}
        
.red a span{
    width:58px; height:58px;
                border-radius: 100%;
                background-color:#434343;}
.red a span img{
}
.fac{width:80%; margin:0 auto;
    text-align: center;}
.fac h1{font-size:48px;
        font-weight:normal;
        margin-top:164px;}
.fac p{font-size:24px;
        margin-bottom:53px;
        }
.yellow{display:flex;
        justify-content: space-between;
        width:100%;
        }
        
.yellow figure{position:relative;
                width:25%;
   }
.yellow figure img{
                    
                }
.yellow figure figcaption{position:absolute;
                            left:0; bottom:0;
                        color:white;
                        background-color:rgba(0,0,0,0.6);
                        height:100%; width:100%;
                        display:flex;
                        align-items: center;
                        justify-content: center;
                        }

.yellow figure:nth-of-type(2) figcaption{
    height:100%;
}
.yellow figure:nth-of-type(2) figcaption:hover{
height:10%}
footer{ height:282px;
     margin:0 auto;
        }
footer div{display:flex;
            justify-content: space-between;
            align-items: center;
            padding:0 200px;
            background-color:#c5c5c5;
            }
footer div img{width:150px; height:110px;}
footer div p{font-size:23.5px;}
footer div span{white-space: pre-line;
                line-height: 1.5em;
                margin:93px 0;
                
}
footer div a{}
footer div a img{width:30px; height:31px;}
